:root{
    --backgroud-color-1: #cacac7;
    --background-color-2: #356bcf;
    --nav-color: #06467a;
    --text-color-1: #e7dcdb;
    --text-color-2: #2c4cb4;
    --text-color-3: #adb9c7;
    --color-1: #af2614;
    
}
@media (max-width:1050px) {

    .navbar-list {
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background: var(--nav-color);
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
      }

      .navbar-list a{
        font-weight: 600;
        color: var(--text-color-1);
      }

      .menu-label{
        display: flex;
        cursor: pointer;
      }

      #menu-toggle:checked + .navbar-list {
        display: flex;
      }

    header{
        padding: 0;
        flex-direction: row;
        height: 100px;
        justify-content: space-between;

    }

    nav{
        width: 100px;
    }

    .hero{
        margin-top: 100px;
    }

    .logo {
        width: 200px;
    }

    .logo a{
        font-size: 16px;
        width: 100%;
    }

    .logo img{
        height: 30px;
        width: 40px;
    }


    .hero{
        width: 100%;
    }

    .hero-intro{
        width: 100%;
        text-align: center;
    }

    .hero-intro h1{
        font-size: 28px;
    }

    .hero-intro p{
        font-size: 18px;
    }

    .hero-img{
        display: none;
    }

    #aboutus {
        flex-direction: column;
      }
    
      .us-background {
        height: 400px;
      }
    
      .us-info h2 {
        font-size: 24px;
      }
    
      .us-info p {
        font-size: 16px;
      }
    
      .beneficios-background {
        height: 400px;
      }
    
      .beneficios-info h2 {
        font-size: 24px;
      }
    
      .beneficios-info p {
        font-size: 16px;
      }
    

    #productos{
        padding: 10px 10px;
        gap: 100px;
    }

    .productos-text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .productos-text h2{
        font-size: 20px;
    }

    .productos-text p{
        font-size: 14px;
    }

   .categorias{
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
   }

   .ofertas-twfm{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   }

   .item-description{
    font-size: 14px;
   }

   .box-item img{
    width: 200px;

   }

   .map-details{
    display: none;
   }

   form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   #contacto h2{
    font-size: 28px;
   }

   .datospersonales input{
    width: 100%;
   }

   .consulta textarea{
    width: 100%;
}


/* OTROS CONTACTOS Y REDES */ 

    .otros-contactos{
        display: flex;
        background: var(--backgroud-color-1);
        flex-direction: column;
        padding: 10px 0;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .redes h3{
        font-size: 26px;
        text-align: center;
        
    }

    .redes a{
        font-size: 22px;
        text-align: center;
        width: 200px;
    }

    .redes span{
        font-size: 26px;
    }

    .footer-links{
        gap: 20px;
        font-size: 12px;
        flex-direction: column;
    }

    footer p{
        font-size: 14px;
    }
}

     @media (min-width: 768px) {
        
        .logo{
            width: 300px;
        }
        
        .logo a{
            font-size: 20px;
            width: 100%;
        }
    
        .logo img{
            height: 50px;
            width: 50px;
        }
        
        .hero-intro h1{
            font-size: 32px;
        }
    
        .hero-intro p{
            font-size: 24px;
        }

        .us-info h2{
            font-size: 24px;
        }

        .us-info p{
            font-size: 18px;
        }

        .beneficios-info h2{
            font-size: 24px;
        }

        .beneficios-info p{
            font-size: 18px;
        }

        .box-item img{
            width: 250px;
        
           }

           .categorias{
            display: grid;
            grid-template-columns: 243px 243px 243px;
            grid-template-rows: 170px 170px;
           }

           .footer-links{
            flex-direction: row;
            font-size: 20px;
           }

           footer p{
            font-size: 24px;
           }


     }

@media (min-width: 340px) {
    .footer-links{
        font-size: 22px;
    }

    footer p {
        font-size: 20px;
    }
}
       